<div ng-controller="ListingsController">
<div class="page-header">
<h1>Listings</h1>
</div>

<div class="row">
  <div ng-hide="!loading" class="progress"><div class="progress-bar progress-bar-striped active" style="width: 100%"></div></div>
  <div class="col-lg-6">
  <div class="list-group">
    <a ng-repeat="listing in listings" class="list-group-item link" ng-click="showPreview(listing)">{{listing.PostingTitle}}</a>
</div>
</div>

<div class="col-lg-6" ng-bind-html="preview">

</div>

</div>
</div>