@import "leaflet";
@import "leaflet_draw";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

figure {
  margin: 0;
}

#map {
  width: 50%;
  height: 700px;
  float: left;
}

#options {
  width: 50%;
  float: right;
}

.container {
  overflow: hidden;
}

.col-half {
  width: 50%;
  float: left;
}