@import "leaflet";
@import "leaflet_draw";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}

figure {
  margin: 0;
}

#map {
  height: 500px;
  width: 100%;
}

a.link {
  cursor: pointer;
}

.options-form {
  padding: 20px 0;
}

.form-group {
  padding-right: 20px;
}

.control-label {
  padding-right: 10px;
}