<!DOCTYPE html>
<html ng-app="listingScraper">
<head>
  <title></title>
  <link rel="stylesheet" href="styles/bootstrap.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>

<nav class="navbar navbar-default" ng-controller="NavController">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Craigslist Geosearch thing
      </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a class="link" ng-click="goToOptions()">Options</a></li>
        <li><a class="link" ng-click="goToListings()">Listings</a></li>
      </ul>
  </div>
</nav>

  <div class="container" ui-view></div>

<script src="scripts/main.js"></script>
</body>
</html>